body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #4acfbc;
    font-family: Arial, sans-serif;
    font-size: 18px;
    width: 100%;
}

header {
    background-color: #23527c;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 24px;
    width: 100%;
}

header img#profilePicture {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin-right: 15px;
}

.topNav {
    flex-shrink: 0;
    background-color: #817daf;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 100%;
    font-size: 20px;
}

.topNav nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 700px;
    margin: 0 auto;
}

.topNav a {
    text-decoration: none;
    color: #fff;
    padding: 0 30px;
    font-size: 18px;
}

.topNav a:hover {
    color: #ddd;
}

#card-nav {
    text-align: center;
    margin: 30px auto;
    font-size: 20px;
}

#card-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 85%;
    max-width: 1000px;
    margin: 30px auto;
    
}

#card-title {
    text-align: left;
    font-size: 26px;
    margin: 0 0 15px 20px;
}

#card-content {
    flex: 1;
    width: calc(100% - 40px);
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 15px;
    overflow: hidden;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    display: flex;
    flex-direction: column;
}



.rental-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.rental-table th, .rental-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.rental-table th {
    background-color: #23527c;
    color: white;
}
